/* styles.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #007BFF; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branca para contraste com o fundo azul */
}

p {
  font-size: 18px;
  color: #fff; /* Manter o texto do parágrafo em branco para melhor legibilidade */
}

button {
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  background-color: #0056b3; /* Cor de fundo do botão um pouco mais escura */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004494; /* Cor de fundo do botão quando o mouse passa sobre ele */
}
